.authors_thumbs { overflow:hidden; border-bottom: 2px ridge #f6f6f6; }

.author_thumb { float:left; margin: 0 2em 2em 0; background: #fdfdfd; }

.author_info { background: #fafafa; margin: 1em 0; padding: 1em; }